@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap');


* {

    margin : 0;
    padding: 0;
    background-color: rgb(34, 134, 113);
}

body {

    margin-left: 100px;
    margin-right: 100px;
}

.nav {

    height: 100px;
    color: rgb(53, 25, 25);
    font-size: 60px;
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    margin-bottom: 100px;
}

.but {

    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.res {

    text-align: center;
}

#result {

    display: inline;
    font-size: 26px;
    font-weight: 600
}

button {

    width: 180px;
    background-color: #fbeee0;
    font-size: 30px;
    border-radius: 5px;
    border: 2px solid #422800;
    box-shadow: #422800 4px 4px 0 0;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
}

button:hover {

    background-color: #fff;
}

button:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}